body{
    display:block;
}
main{
    align-items: center;
    background-color:#9f9fb2;
}
.em-form-group, .em-form-div-input {
    width: 100%;
    align-items: flex-start;
    text-align: left;
}
.em-form-botton {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 35px;
    background-color: #aace98;
    border: 1px solid #373867;
    border-radius: 8%;
    color: #373867;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
.em-form-container {
    border-radius: 5%;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}
.logo-img{
    width: 18%;
}
.em-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 90%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.em-form-group label {
    margin: 7px;
    padding: 5%;
    text-align: center; 
}
.form-good {
    background-color: rgba(170, 206, 152, 0.6);
    display: flex;
    align-self: center;
    margin: 5%;
}
.form-wrong {
    background-color: rgba(223, 22, 25, 0.6);
    display: flex;
    align-self: center;
    margin: 5%;
}
.hide{
    visibility: hidden;
}
.em-form-input {
    margin: 7px;
    width: 100%;
}
.em-form-input:focus {
    border: 3px solid #373867;
    outline: none;
}
.em-form-input-error {
    display: none;
}
.em-form-input-error-active{
    display: flex;
    color: #bb2929;
    font-size: 12px;
}
.em-form-message {
    background-color: rgba(170, 206, 152, 0.6);
    display: none;
}
.em-form-message-active {
    display: flex;
    color: #bb2929;
    font-size: 12px;
}
.em-form-exit-message {
    display: none;
}
.em-form-exit-message-active {
    display: block;
}
.col-1, .col-2 {
    width: 100%;
}
.em-error-text {
    display: none;
}
.em-error-text-active{
    display: flex;
    color: #bb2929;
    font-size: 12px;
}
.date{
    width:30%;
}
#square-1-em{
    display: flex;
    flex-direction: column;
    padding: 5% 0%;
    align-items: center;
}
#em-remember-me-div {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
#em-remember-me {
    width: auto;
}
#em-remember-text{
    display: flex;
    align-items: center;
    width: auto;
    height: 30px;
    margin: 6px 0 25px;
    padding-left: 4%;
}
#bottom-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 5%
}
#date-inputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: capitalize; 
}

/* Validation styles */
.em-form-group-ok {
    color: #006400;
}
.em-form-group-wrong .em-form-label {
    color: #bb2929;
}
.em-form-group-wrong {
    color: #bb2929;
}
.em-form-group-wrong .em-form-input {
    border: 2px solid #bb2929;
}
.em-form-group-ok .em-form-input {
    border: 2px solid #006400;
}
@media only screen and (min-width: 768px) {

    .container{
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
    }
    .col-1 {
        margin-right: 10%;
    }
    .col-2 {
        margin-left: 5%;
    }
}