
.form-gral, .form-d-inpt {
    width: 78%;
    align-items: flex-start;
    text-align: left;
} 
.logo-img{
    width: 15%;
    padding:3%;
}
.form-inpt:focus {
    border: 3px solid #373867;
    outline: none;
}
.error-text {
    display: none;
}
.error-text-active{
    display: flex;
    color: #bb2929;
    font-size: 12px;
}
.form-mssg {
    display: flex;
    flex-direction: column;
    background-color: rgba(170, 206, 152, 0.6);
    display: flex;
    color: #bb2929;
    font-size: 12px;
}

.form-good {
    background-color: rgba(170, 206, 152, 0.6);
    display: flex;
    align-self: center;
    margin: 5%;
}
.form-wrong {
    background-color: rgba(223, 22, 25, 0.6);
    display: flex;
    align-self: center;
    margin: 5%;
}
.hide{
    display: none;
}

.form-exit-message {
    display: none;
}
.form-exit-message-active {
    display: block;
}
#main{
    padding-left: 0%;
}
#div-remember {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
#remember {
    width: auto;
}
#remember-txt{
    display: flex;
    align-items: center;
    width: auto;
    height: 30px;
    margin: 6px 0 25px;
    padding-left: 4%;
}

#invalid-both{
    align-self: center;
}
#invalid-email{
    align-self: center;
}
#invalid-pass{
    align-self: center;
}
/* Validation styles */
/*cruz*/
.form-grp-ok {
    color: #006400;
}
.form-grp-wrng .form-lbl {
    color: #bb2929;
}
/*cruz*/
.frm-grp-wrng {
    color: #bb2929;
}
.frm-grp-wrng .form-inpt {
    border: 2px solid #bb2929;
}



