.form-gral, .form-d-inpt {
    width: 100%;
    align-items: flex-start;
    text-align: left;
}

.form-inpt:focus {
    border: 3px solid #373867;
    outline: none;
}
.error-text {
    display: none;
}
.error-text-active{
    display: flex;
    color: #bb2929;
    font-size: 12px;
}
.form-mssg {
    background-color: rgba(170, 206, 152, 0.6);
    display: none;
}
.form-mssg-active {
    display: flex;
    color: #bb2929;
    font-size: 12px;
}
.form-exit-message {
    display: none;
}
.form-exit-message-active {
    display: block;
}
#div-remember {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
#remember {
    width: auto;
}
#remember-txt{
    display: flex;
    align-items: center;
    width: auto;
    height: 30px;
    margin: 6px 0 25px;
    padding-left: 4%;
}
/* Validation styles */
/*cruz*/
.form-grp-ok {
    color: #006400;
}
.form-grp-wrng .form-lbl {
    color: #bb2929;
}
/*cruz*/
.frm-grp-wrng {
    color: #bb2929;
}
.frm-grp-wrng .form-inpt {
    border: 2px solid #bb2929;
}
@media only screen and (min-width: 768px) {
    main {
        margin-left: 260px;
    }
}







/*.forms-1 input{
    margin-bottom: 0px;
}
.error-text{
    margin-bottom: 20px;
    color: red; 
}
.error{
    visibility:hidden;
}
.blur{
    border: 2px solid red;
}
.correct{
    border: 2px solid #AACE9B;
}*/