<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackgenix SA</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/reset.css">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/header.css">
    <link rel="stylesheet" type="text/css" href="../styles/sidebar.css">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <link rel="stylesheet" type="text/css" href="../styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../styles/login.css">
    <link rel="stylesheet" type="text/css" href="../styles/employee-signup.css">
    <script src="../javascript/employee-signup.js"></script>
</head>
<body>
    <header id="header">
        <img class="img-menu-header" src="../assets/burguer-menu.png">
        <a id="index-link"href="./index.html"><img class="img-logo-header" src="../assets/Logo.png"></a>
        <a href="./employee-signup.html"><input class="sign-up-button" type="button" name="submit" value="Sign up"></a>
    </header>
    <main class="main">
        <div id="square-1-em" class="square">
            <img src="../assets/Logo.png" class="logo-img">
            <div id="square-2" class="square">
                <h2>sign up</h2>
                <form id="em-form" class="em-form">
                    <div class="container">
                        <div class="col-1">
                            <div id="em-name-div" class="em-form-group">
                                <label class="em-form-label" for="name">name:</label>
                                <div class="em-form-div-input">
                                    <input id="name" class="em-form-input" type="text" name="name" placeholder="Name">
                                </div>
                                <p class="em-error-text">
                                    Name must contain only letters and must be at least three characters long (John)
                                </p>
                            </div>
                            <div id="em-surname-div" class="em-form-group">
                                <label class="em-form-label" for="surname">surname:</label>
                                <div class="em-form-div-input">
                                    <input id="surname" class="em-form-input" type="text" name="surname" placeholder="Surname">
                                </div>
                                <p class="em-error-text">
                                    Surname must contain only letters and must be at least three characters long (example, John Doe)
                                </p>
                            </div>
                            <div id="em-id-div" class="em-form-group">
                                <label class="em-form-label" for="id">ID:</label>
                                <div class="em-form-div-input">
                                    <input id="id" class="em-form-input" type="number" name="id" placeholder="33.333.222">
                                </div>
                                <p class="em-error-text">
                                    ID must contain only numbers and must be at least seven characters long (example, 11.222.333)
                                </p>
                            </div>
                            <div id="em-birth-date-div" class="em-form-group">
                                <label class="em-form-label" for="birth-date">birth date:</label>
                                <div class="em-form-div-input">
                                    <input id="birth-date" class="em-form-input" type="date" name="birth-date" placeholder="birth date">
                                </div>
                                <p class="em-error-text">
                                    Invalid format for birth date (expected dd/mm/yyyy)
                                </p>
                            </div>
                            <div id="em-phone-div" class="em-form-group">
                                <label class="em-form-label" for="phone">phone:</label>
                                <div class="em-form-div-input">
                                    <input id="phone" class="em-form-input" type="tel" name="phone" placeholder="phone">
                                </div>
                                <p class="em-error-text">
                                    Phone number must contain only numbers and must be at least ten numbers long
                                </p>
                            </div>
                            <div id="em-address-div" class="em-form-group">
                                <label class="em-form-label" for="address">address:</label>
                                <div class="em-form-div-input">
                                    <input id="address" class="em-form-input" type="text" name="address" placeholder="address">
                                </div>
                                <p class="em-error-text">
                                    Address must contain numbers, letters and at least one gap.
                                </p>
                            </div>
                        </div>
                        <div class="col-2">
                            <div id="em-city-div" class="em-form-group">
                                <label class="em-form-label" for="city">city:</label>
                                <div class="em-form-div-input">
                                    <input id="city" class="em-form-input" type="text" name="city" placeholder="city">
                                </div>
                                <p class="em-error-text">
                                    City must contain numbers, letters and at least one gap.
                                </p>
                            </div>
                            <div id="em-postal-code-div" class="em-form-group">
                                <label class="em-form-label" for="postal-code">postal code:</label>
                                <div class="em-form-div-input">
                                    <input id="postal-code" class="em-form-input" type="text" name="postal-code" placeholder="postal code">
                                </div>
                                <p class="em-error-text">
                                    Postal Code must only contain numbers.
                                </p>
                            </div>
                            <div id="email-div" class="form-group">
                                <label class="form-label" for="email">E-mail:</label>
                                <div class="form-div-input">
                                    <input id="email" class="em-form-input" type="email" name="email" placeholder="E-mail">
                                </div>
                                <p class="em-error-text">
                                    Enter a valid e-mail address (example, someone@example.com)
                                </p>
                            </div>
                            <div id="password-div" class="form-group">
                                <label class="form-label" for="password">Password:</label>
                                <div class="form-div-input">
                                    <input id="password" class="em-form-input" type="password" name="password" placeholder="Password">
                                </div>
                                <p class="em-error-text">
                                    Password must contain letters and digits.
                                </p>
                            </div>
                            <div id="repeat-password-div" class="form-group">
                                <label class="form-label" for="repeat-password">Password:</label>
                                <div class="form-div-input">
                                    <input id="repeat-password" class="em-form-input" type="password" name="repeat-password" placeholder="Repeat password">
                                </div>
                                <p class="em-error-text">
                                    Both passwords must be the same.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="em-remember-me-div" class="em-form-group">
                        <input id="em-remember-me" class="form-checkbox" type="checkbox" name="remember-me">
                        <label id="em-remember-text" class="form-input" for="em-remember-me" >Remember me</label>
                    </div>
                    <div id="form-wrong" class="form-wrong hide"></div>
                    <div id="em-form-message" class="em-form-message">
                        <p>
                            <i class="fa-solid fa-circle-exclamation"></i>
                            Error: an entry is required or has an invalid value.
                            Please correct and try again.
                        </p>
                    </div>
                    <div id="bottom-container" class="em-form-group">
                        <button class="em-form-botton">Log in</button>
                        <p id="em-form-exit-message" class="em-form-exit-message">
                            alert with form information
                        </p>
                    </div>
                </form>
            </div>
            
        </div>
    </main>
    <footer id="footer">
        <ul class="lista-footer">
            <li class="iconos-footer"><a href="https://www.linkedin.com/"><img src="../assets/Footer 1.png" alt="Linkedin"></a></li>
            <li class="iconos-footer"><a href="https://www.twitter.com/"><img src="../assets/Footer 2.png" alt="Twitter"></a></li>
            <li class="iconos-footer"><a href="https://www.facebook.com//"><img src="../assets/Footer 3.png" alt="Facebook"></a></li>
            <li class="iconos-footer"><a href="https://www.instagram.com/"><img src="../assets/Footer 4.png" alt="Instagram"></a></li>
            <li class="iconos-footer"><a href="https://github.com/"><img src="../assets/Footer 5.png" alt="Github"></a></li>
        </ul>
        <address>Rosario, Argentina</address>
        <address>Copyright &copy; 2022 Trackgenix S.A. All rights reserved.</address>
    </footer>
</body>
</html>