<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackgenix SA</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/reset.css">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/header.css">
    <link rel="stylesheet" type="text/css" href="../styles/sidebar.css">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <link rel="stylesheet" type="text/css" href="../styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../styles/login.css">
    <script src="../javascript/login.js"></script>
</head>
<body>
    <header id="header">
        <img class="img-menu-header" src="../assets/burguer-menu.png">
        <img class="img-logo-header" src="../assets/Logo.png">
        <a href="./employee-signup.html"><input class="sign-up-button" type="button" name="submit" value="Sign up"></a>
    </header>
    <aside id="aside">
        <nav>
            <div id="shortcuts">Shortcuts</div>
            <ul>
                <li class="nav-links"><a class="nav-titles" href="./index.html">Homepage</a></li>
                <li class="nav-links"><a class="nav-titles" href="#what-is-trackgenix">What is Trackgenix?</a></li>
                <li class="nav-links"><a class="nav-titles" href="#what-can-i-do">Why choose Trackgenix?</a></li>
                <li class="nav-links"><a class="nav-titles" href="#about-us">About us</a></li>
                <li class="nav-links"><a class="nav-titles" href="#get-in-touch">Get in touch</a></li>
                <li class="nav-links"><a class="nav-titles" href="#">Log in</a></li>
            </ul>
        </nav>
    </aside>
    <main class="main login-main">
        <div class="circle">
            <img src="../assets/Logo.png" class="logo-img">
        </div>
        <div id="square-1-login" class="square">
            <div id="square-2-login" class="square">
                <h2>Log-in</h2>
                <form id="form-login" class="form-login">
                    <div class="forms-1">
                        <div id="div-email" class="form-gral">
                            <label for="email" class="form-lbl">email</label>
                            <div class="form-div-inpt">
                                <input value="" type="email" id="email" class="form-inpt" name="email" placeholder="Click on me to write">
                            </div>
                            <p class="error-text">Error: type a valid e-mail account.</p>                 
                        </div>
                        <div id="div-password" class="form-gral">
                            <label for="pasword" class="form-lbl">password</label>
                            <div class="form-div-inpt">
                                <input value="" type="text" id="password" class="form-inpt" name="password" placeholder="Click on me to write">
                            </div>
                            <p class="error-text">Error: incorrect password.</p>
                        </div>
                        <div id="div-remember" class="form-gral">
                            <input type="checkbox" id="remember" class="checkbox" name="remember">
                            <label for="remember"id="remember-txt" class="form-inpt">Remember me</label>    
                        </div>
                        <div id="form-mssg" class="form-mssg hide">
                            <p>
                                Error: E-mail account or password invalid.
                                Try again.
                            </p>
                        </div>
                        <div id="form-good" class="form-good hide"></div> 
                    </div>
                    <div class="buttons">
                        <a class="button-1" type="#" value="Forgot password?">Forgot password?</a>
                        <input class="button-2" type="submit" value="Continue"></input>
                        <p class="warnings" id="warnings"></p>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer id="footer">
        <ul class="lista-footer">
            <li class="iconos-footer"><a href="https://www.linkedin.com/"><img src="../assets/Footer 1.png" alt="Linkedin"></a></li>
            <li class="iconos-footer"><a href="https://www.twitter.com/"><img src="../assets/Footer 2.png" alt="Twitter"></a></li>
            <li class="iconos-footer"><a href="https://www.facebook.com//"><img src="../assets/Footer 3.png" alt="Facebook"></a></li>
            <li class="iconos-footer"><a href="https://www.instagram.com/"><img src="../assets/Footer 4.png" alt="Instagram"></a></li>
            <li class="iconos-footer"><a href="https://github.com/"><img src="../assets/Footer 5.png" alt="Github"></a></li>
        </ul>
        <address>Rosario, Argentina</address>
        <address>Copyright &copy; 2022 Trackgenix S.A. All rights reserved.</address>
    </footer>
</body>
</html>