<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackgenix SA</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/reset.css">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/header.css">
    <link rel="stylesheet" type="text/css" href="../styles/sidebar.css">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <link rel="stylesheet" type="text/css" href="../styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../styles/login.css">
</head>
<body>
    <header id="header">
        <a href="../views/index.html"><img src="../assets/Logo.png"></a>
    </header>
    <main>
        <div class="circle">
            <img src="../assets/Logo.png" class="logo-img">
        </div>
        <div id="square-1" class="square">
            <div id="square-2" class="square">
                <h2>log in</h2>
                <form>
                    <div class="forms-1">
                        <label for="email">email</label>
                        <input type="email" id="email" name="email" placeholder="Click on me to write">                   
                        <label for="pasword">password</label>
                        <input type="text" id="password" name="password" placeholder="Click on me to write">
                        <div class="remember">
                            <input type="checkbox" id="remember">
                            <label for="activar">Remember me</label>    
                        </div>            
                    </div>
                </form>
            </div>
            <div class="buttons">
                <input class="button-1" type="submit" value="forgot password?"></input>
                <input class="button-2" type="submit" value="continue"></input>
            </div>
        </div>
    </main>
    <footer id="footer">
        <ul class="lista-footer">
            <li class="iconos-footer"><a href="https://www.linkedin.com/"><img src="../assets/Footer 1.png" alt="Linkedin"></a></li>
            <li class="iconos-footer"><a href="https://www.twitter.com/"><img src="../assets/Footer 2.png" alt="Twitter"></a></li>
            <li class="iconos-footer"><a href="https://www.facebook.com//"><img src="../assets/Footer 3.png" alt="Facebook"></a></li>
            <li class="iconos-footer"><a href="https://www.instagram.com/"><img src="../assets/Footer 4.png" alt="Instagram"></a></li>
            <li class="iconos-footer"><a href="https://github.com/"><img src="../assets/Footer 5.png" alt="Github"></a></li>
        </ul>
        <address>Rosario, Argentina</address>
        <address>Copyright &copy; 2022 Trackgenix S.A. All rights reserved.</address>
    </footer>
</body>
</html>