font-face{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    }
h1{
    font-size: 40px;
    color:#fff;
    font-weight: bolder;
    text-transform: uppercase;
    display: inline-block;
    margin:auto;

    }

body{
    background-color:#FFF;
    color:#373867;
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    line-height:normal;
    margin: 0;
    }

#header{
    position:fixed;
    top:0px;
    background-color:#373867;
    display:block;
    width:100%;
    height:91px;
    z-index: 100;

    }
#logo{
    position:absolute;
    right: 48%;
    top: 15px;
    height:60px;
    width: 60px;

    }
#sign-up{
    position: absolute;
    right: 3%;
    top:25%;
    font-weight: bold;
    font-size:12px;
    line-height: 14px;
    background-color:#AACE9B;
    border:none;
    border-radius: 7px;
    padding:13px;
    }

#aside{
    position:fixed;
    top:91px;
    width:308px;
    height:832px;
    padding-top: 69.52px;
    font-weight:bold;
    color: #373867;
    background-color:#AACE9B;
    border:10px;
    text-align: left;
    
    }    

#shortcuts{
    margin-left:32px;
    margin-right: 5%;
    margin-bottom: 10%;
    font-size: 38px;
    padding-bottom: 10%;
    padding-right: 122px;
    text-align:left;
    box-shadow: 0px 6px #373867;
    
    }


.nav-links{
    margin-left:32px;
    margin-right: 10%;
    
    font-weight: lighter;
    background-color:#FFF;
    border-style: solid;
    border-bottom:#373867;
    background-size: 241px 36px;
    line-height:36px; 
    margin-bottom: 8%;  
    box-shadow:0px 3px #373867;
    }

.nav-titles{
    color: #373867;;
    text-decoration: none;
    font-weight: lighter;
}

#landing{
    align-content:center; 
    margin-right: 0;
    margin-left: 308px;
    margin-top:0;

    }

.principal{
    padding-top: 257px;
    padding-bottom: 221px;
    text-align: center;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(../Semana-03/Images/background-img.jpg);
    background-size: cover;
    }
#logo-home{
    display: block;
    margin: 0 auto;
    width:40%;
    height: 100%;
}

#what-is-trackgenix{
    display: inline-block;
    position: relative;
    width: 69%;
    padding-top: 15%;
    padding-bottom: 52%;
    
    
}
.s1p1{
    display: inline-block;
    position:absolute;
    width: 47%;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 10%;
    padding-top: 5%;
}

.p1{

}
.p2{
    padding-top: 10%;

}

.s1p2{
    display: inline-block;
    position: absolute;
    width: 62%;
    right: -32%;
    top: 14%;
}


.section-title{
    font-weight:700;
    font-size: 40px;
    display:flex;
    text-align: left;
    margin-top: -35%;
    margin-bottom: 10%
    
}
.section-subtitle{
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    vertical-align: baseline;
    margin-bottom: 12%;
    font-weight: 700;
    font-size: 30px;
    color: #373867B2;
    width: 352px;
    height: 109px;
    line-height: 37px;
}

.green-bar{
    width: 1140px;
    height: 60px;
    left: 300px;
    top: 3592px;
    background-color:#49A37B;
    margin-top: 10%;
}

#what-can-i-do{
    display: inline-block;
    position: relative;
    width: 69%;
    padding-top: 15%;
    padding-left: 7%;

}
.s-title{
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 40px;


}
#s2-container{
    display: inline-block;
    padding-left: 4%;
    width:135%;
    padding-top: 10%;
}
.s2-a{
    display: inline-block;
    width: 504px;
    height: 126px;
    margin-bottom: 100px;

}

.s2-img{
    display:inline-block;
    width:100px;
    height:100px;

}
.s2-div{
    display: inline-block;
    width: 326px;
    height: 126px;
    text-align: left;
}

#about-us{
    display: inline-block;
    position: relative;
    width: 90%;
    padding-bottom: 11%;
    padding-left: 6%;
    margin-top:6%;

}

.s3-a1{
    display: block;
    width: 100%;
    padding-top: 6%;
    

}

.s3-a2{
    display: block;
    width: 100%;
    padding-top: 6%;
}

.pp1{
    display: inline-block;
    width: 609px;
    height: 250px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-right: 4%;


}
.img1{
    display: inline-block;
    width: 364px;
    height: 216px;

}

.img2{
    display: inline-block;
    width: 364px;
    height: 216px;

}

.pp2{
    display: inline-block;
    width: 609px;
    height: 250px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-right: 4%;
    text-align: right;
}

.s4-container{
    display: inline-block;
    width: 1118px;
    height: 250px;
    margin-left: 0%;
}
.form{
    display: inline-block;
    width: 260px;
    padding-top: 26px;
    padding-left: 14%;

}

form input{
    display:block;
    width: 100%;
    height:37px;
    top:23px;
    border: 1px solid #373867;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

} 
form select{
    display:block;
    width: 100%;
    height: 37px;
    top: 23px;
    border: 1px solid #373867;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

} 
form textarea{
    display:block;
    width: 100%;
    height: 138px;
    top: 360px;
    order: 4;
    border: 1px solid #373867;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

} 

form label{
    right:60%;
    bottom: 74%;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

}


}
.contact{
    display: inline-block;
    width: 426px;
    padding-left: 17%;
}

.s4-c{
    display:block;
    width: 448px;
    height: 92px;
    margin-bottom: 27%;
}

.s4-img{
    display:inline-block;
    width:80px;
    height: 80px;
    margin-right: 8%;

}
.s4-text{
    display:inline-block;
    width:323px ;
    height: 92px;

}
.s5{
    display:block;
    margin-top:39px;
    margin-bottom: 10%;
    margin-left: 11%;
    width:100%;
}

.s5-c1{
    display:inline-block;
    width: 33%;
}
.s5-c2{
    display:inline-block;
    width: 33%;
}
.s5-c3{
    display:inline-block;
    width: 33%;
}
h4{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #373867;
}

.s5 a{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #373867;
    text-decoration: none;
}

.s5 ol{
    margin-left: 10%;
    margin-top: 3%;
}
.footer{
    position:fixed;
    display:inline-block;
    text-align: center;
    bottom:0px;
    background-color:#373867;
    display:block;
    width:100%;
    height:91px;
    
}

.iconos-footer{
    display:inline-block;
    width: 75px;
    padding-top: 0.3%;
}

.footer-address{
    position:relative;
    display:inline-block;
    bottom: 11%;
    left:11%;
    color:#AACE9B;
    font-size: small;
}
.copyright{
    position:relative;
    display:inline-block;
    bottom: -4%;
    right:3%;
    color: #AACE9B;
    font-size: small;

}