font-face{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    }
h1{
    font-size: 40px;
    color:#fff;
    font-weight: bolder;
    text-transform: uppercase;
    display: inline-block;
    margin:auto;

    }
body{
    background-color:#FFF;
    color:#373867;
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    line-height:normal;
    margin: 0;
    }

#header{
    position:fixed;
    top:0px;
    background-color:#373867;
    display:block;
    width:100%;
    height:91px;

    }
#logo{
    position:absolute;
    right: 48%;
    top: 15px;
    height:60px;
    width: 60px;

    }
#sign-up{
    position: absolute;
    right: 3%;
    top:25%;
    font-weight: bold;
    font-size:12px;
    line-height: 14px;
    background-color:#AACE9B;
    border:none;
    border-radius: 7px;
    padding:13px;
    }

#aside{
    position:fixed;
    top:91px;
    width:308px;
    height:832px;
    padding-top: 69.52px;
    font-weight:bold;
    color: #373867;
    background-color:#AACE9B;
    border:10px;
    text-align: left;
    
    }    

#shortcuts{
    margin-left:32px;
    margin-right: 5%;
    margin-bottom: 10%;
    font-size: 38px;
    padding-bottom: 10%;
    padding-right: 122px;
    text-align:left;
    box-shadow: 0px 6px #373867;
    
    }


.nav-links{
    margin-left:32px;
    margin-right: 10%;
    
    font-weight: lighter;
    background-color:#FFF;
    border-style: solid;
    border-bottom:#373867;
    background-size: 241px 36px;
    line-height:36px; 
    margin-bottom: 8%;  
    box-shadow:0px 3px #373867;
    }

.nav-titles{
    color: #373867;;
    text-decoration: none;
    font-weight: lighter;
}

#landing{
    align-content:center; 
    margin-right: 0;
    margin-left: 308px;
    margin-top:0;

    }

.principal{
    padding-top: 257px;
    padding-bottom: 221px;
    text-align: center;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(../Semana-03/Images/background-img.jpg);
    background-size: cover;
    }
#logo-home{
    display: block;
    margin: 0 auto;
    width:40%;
    height: 100%;
}
#what-is-trackgenix{
    display:inline-block;
    }

.section-title{
    font-weight:700;
    font-size: 40px;
    display:flex;
    text-align: left;
    
}
.footer{
    position:fixed;
    display:inline-block;
    text-align: center;
    bottom:0px;
    background-color:#373867;
    display:block;
    width:100%;
    height:91px;
    
}

.iconos-footer{
    display:inline-block;
    width: 75px;
    padding-top: 0.3%;
}

.footer-address{
    position:relative;
    display:inline-block;
    bottom: 11%;
    left:11%;
    color:#AACE9B;
    font-size: small;
}
.copyright{
    position:relative;
    display:inline-block;
    bottom: -4%;
    right:3%;
    color: #AACE9B;
    font-size: small;

}