header{
    height:91px;
    width: 100%;
    display:flex;
    position: fixed;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content:center;
    background-color: #373867;
    z-index: 100;
}
.header-employee{
    justify-content: flex-start;
}
.img-menu-header{
    display:flex;
    align-self: center;
    height:45%;
}
.img-logo-header{
    display:flex;
    align-self: center;
    height:80%
}
.sign-up-button{
    display:flex;
    font-weight:normal;
    font-size:14px;
    line-height: 14px;
    background-color:#AACE9B;
    border:none;
    border-radius: 7px;
    width: 15%;
    height: 42%;
    font-family: 'Roboto', sans-serif;
}